 <div class="user-details">
  <h1> GAME EXPERIENCE </h1>
  <p> •	Path of Exile (2017-2019): Volunteer Translator (Korean) - Contributed to the game's localization efforts.</p>
<p>•	StarCraft I & II (2000-Present): Extensive experience in Co-op Missions (Level 1000+, 30,000+ games played) and speedrunning. Demonstrates strategic thinking, teamwork, and dedication.</p>
<p>•	Hearthstone (June 2014 - 2017): Former professional player. Highlights competitive drive and high-level gameplay understanding.</p>
<p>•	Cytus I & II (April 2013 - Present): Long-term player. Shows passion for rhythm games and fast-paced gameplay.</p>
<p>•	Tekken Card Tournament (2013): Achieved Rank 2 worldwide. Significant accomplishment demonstrating mastery of a competitive game.</p>
<p>•	Dungeon & Fighter (2005-2021): Advance Team Member. Indicates experience with challenging content and teamwork.
 </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Engine</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unrealengine/unrealengine-original.svg" width="100" height="100"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/opengl/opengl-original.svg" width="100" height="100"/>
      <p>Unreal Engine, OpenGL, Raylib, Custom Engine </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" width="100" height="100"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg" width="100" height="100"/>
      <p>C++, C </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" width="100" height="100"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redhat/redhat-original.svg" width="100" height="100"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/centos/centos-original.svg" width="100" height="100"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/visualstudio/visualstudio-original.svg" width="100" height="100"/>  
      <p>Git, Cisco, Linux (RedHat/CentOS), Visual Studio </p>
    </div>
</div>
