 <div class="user-details">
  <h1> TECHNICAL SKILLS </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Engine</h2>
      <i class="devicon-unrealengine-original-wordmark"></i>  
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/opengl/opengl-original.svg" />
      <p>Unreal Engine, OpenGL, Raylib, Custom Engine </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-c-plain"></i>
      <p>C++, C </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="fa-brands fa-centos"></i>
      <i class="devicon-redhat-plain"></i>
      <i class="devicon-visualstudio-plain"></i>
      <p>Git, Linux (CentOS/RedHat), Visual Studio, Zanata, PowerPoint, Prezi, Excel </p>
    </div>
</div>
