<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="SnT" src="{{ "/assets/img/SnT.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SnT </h3>
    <ul>
      <li> Map, Music, SFX </li>
    </ul>
    <p>•	3D Casual Racing Game developed in Unreal Engine.
•	Responsible for core game logic, AI implementation, map design, music composition, and sound effects integration.
•	Utilized Unreal Engine's Blueprint visual scripting and C++ for core gameplay mechanics.
</p>
    <a href="https://github.com/ido-013/SnT">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="WWSC" src="{{ "/assets/img/WWSC.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> WWSC </h3>
    <ul>
      <li> Main Coder, Music </li>
    </ul>
    <p>•	2D Platformer Game developed using C++ and Raylib.
•	Developed core game mechanics, including player movement, collision detection, and level design.
•	Composed original music for the game.
•	Focused on creating a responsive and engaging player experience.
</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
